#a{
    border: solid black;
    padding: 10px;
    background-color: rgb(252, 178, 178);
}

#b{
 
    border: solid;
    padding: 2px;

}

#z{

    padding: 2px;
    background-color: orange;

}


#k{

text-decoration: underline;

}

#j{

    text-decoration: underline;
    
    }

    
#i{
 text-decoration: underline;
}
#o{
   text-decoration: underline;
 }

 #p{
  text-decoration: underline;         
}

 #q{

text-decoration: underline;
 }
